<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Numa | Colección SS 22</title>
    <meta name="description" content="Nueva Colección Summer 22 • Descubrí lo nuevo | Shop Online de Numa. Envíos a todo el país. Cuotas sin interés.">
    <meta name="robots" content="index, follow">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">    
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/img/logo/icon-numa2.ico">
</head>
<body>
    <header>
        <div class="logo"><a href="#"><img src="/img/logo/logo.svg" alt="logo numa"></a></div>
        <nav class="left-nav">
            <ul>
                <li><a href="#">COLECCIÓN</a></li>
                <li><a href="#">SUMMER '22</a></li>
                <li><a href="#">GIFT CARD</a></li>
            </ul>
        </nav>
        <nav class="right-nav">
            <ul>
                <li><a href="#" title="Search"><img src="./img/icons/search.svg" alt="search"></a></li>
                <li><a href="#" title="My Account"><img src="./img/icons/user.svg" alt="user"></a></li>
                <li><a href="#" title="Shop"><img src="./img/icons/cart.svg" alt="shop"></a></li>
            </ul>
        </nav>
    </header>
    <section id="main">
        <h4 class="main-sub">SS 2022</h4>
        <h1 class="main-title">Summer is here</h1>
        <button class="btn-home">VER PRODUCTOS</button>
    </section>
    <section id="shirts">
        <div class="left-shirts"></div>
        <div class="right-shirts">
            <h2 class="categorias-title">Shirts</h2>
            <button class="btn-categoria">VER CATEGORÍA</button>
        </div>
    </section>
    <section id="swimwear">
        <div class="swimwear-title-btn">
            <h2 class="categorias-title">Swimwear</h2>
            <button class="btn-categoria">VER CATEGORÍA</button>
        </div>
    </section>
    <section id="categories">
        <div class="categories-wrapper">
            <article class="categories-card">
                <a href="#">
                    <div class="categories-img">
                        <img src="./img/home/categories/bermudas.jpg" alt="bermuda">                        

                    </div>
                    <div class="categories-title">
                        <!-- <h3>SHORTS DE BAÑO</h3> -->

                        <h3>BERMUDAS</h3>
                    </div>
                </a>
            </article>
            <article class="categories-card">
                <a href="#">
                    <div class="categories-img">
                        <img src="./img/home/categories/buzos.jpg" alt="sweater">
                    </div>
                    <div class="categories-title">
                        <h3>BUZOS Y SWEATERS</h3>
                    </div>
                </a>
            </article>
            <article class="categories-card">
                <a href="#">
                    <div class="categories-img">                      
                        <img src="./img/home/categories/remeras.jpg" alt="shirt">
                    </div>
                    <div class="categories-title">
                        <h3>REMERAS</h3>
                    </div>
                </a>
            </article>
            <article class="categories-card">
                <a href="#">
                    <div class="categories-img">
                        <img src="./img/home/categories/swimwear-shorts.jpeg" alt="swimwear">
                    </div>
                    <div class="categories-title">
                        <h3>SHORTS DE BAÑO</h3>
                    </div>
                </a>
            </article>
        </div>
    </section>

    <section id="services">
        <div class="services-wrapper">
            <article class="services-card">
                <div class="services-img">
                    <img src="./img/home/services/package-icon.png" alt="package">
                </div>
                <div class="services-description">
                    <h3>ENVÍOS A TODO EL PAÍS</h3>
                </div>
            </article>
            <article class="services-card">
                <div class="services-img">
                    <img src="./img/home/services/card-icon.svg" alt="card">
                </div>
                <div class="services-description">
                    <h3>CUOTAS SIN INTERÉS</h3>
                    <p>3 ó 6 cuotas sin interés</p>
                </div>
            </article>
            <article class="services-card">
                <div class="services-img">
                    <img src="./img/home/services/shop-icon.svg" alt="bag">
                </div>
                <div class="services-description">
                    <h3>ATENCIÓN AL CLIENTE</h3>
                    <p>(011) 5111-1111</p>
                    <p>shop@numa.com</p>
                </div>
            </article>
            <article class="services-card">
                <div class="services-img">
                    <img src="./img/home/services/changes-icon.svg" alt="return">
                </div>
                <div class="services-description">
                    <h3>CAMBIOS Y DEVOLUCIONES</h3>
                    <p>Dentro de los 30 días</p>
                </div>
            </article>
        </div>
    </section>
    <footer>
        <div class="footer-wrapper">
            <section>
                <h5>AYUDA</h5>
                <ul>
                    <li><a href="#">Política de envíos</a></li>   
                    <li><a href="#">Cambios y devoluciones</a></li>   
                    <li><a href="#">FAQ</a></li>   
                </ul>
            </section>
            <section>
                <h5>SERVICIO AL CLIENTE</h5>
                <ul>
                    <li><a href="#">Contacto</a></li>   
                    <li><a href="#">Estado de mi pedido</a></li>   
                    <li><a href="#">Botón de arrepentimiento</a></li>   
                </ul>
            </section>
            <section>
                <h5>MI CUENTA</h5>
                <ul>
                    <li><a href="#">Registrarme</a></li>   
                    <li><a href="#">Información del cliente</a></li>   
                </ul>
            </section>
            <section class="social-media">
                <h5>FOLLOW US</h5>
                <ul>
                    <li><a href="#" title="Instagram"><img src="./img/icons/instagram-icon.svg" alt="instagram-icon"></a></li>  
                    <li><a href="#" title="Facebook"><img src="./img/icons/facebook-icon.svg" alt="facebook-icon"></a></li>   
                </ul>
            </section>
        </div>
    </footer>
</body>
</html>