<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Numa | Colección SS 22</title>
    <meta name="description" content="Nueva Colección Summer 22 • Descubrí lo nuevo | Shop Online de Numa. Envíos a todo el país. Cuotas sin interés.">
    <meta name="robots" content="index, follow">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">    
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/img/logo/icon-numa2.ico">
</head>
<body>
    <header>
        <div class="logo"><img src="/img/logo/logo.svg" alt="logo numa"></div>
        <nav class="left-nav">
            <ul>
                <li><a href="#">COLECCIÓN</a></li>
                <li><a href="#">SUMMER '22</a></li>
                <li><a href="#">GIFT CARD</a></li>
            </ul>
        </nav>
        <nav class="right-nav">
            <ul>
                <li><a href="#"><i class=""></i>Search</a></li>
                <li><a href="#"><i class=""></i>Shop</a></li>
                <li><a href="#"><i class=""></i>User</a></li>
            </ul>
        </nav>
    </header>
    <section id="main">
        <h4 class="main-sub">SS 2022</h4>
        <h1 class="main-title">Summer is here</h1>
        <button class="btn-home">VER PRODUCTOS</button>
    </section>
    <section id="shirts">

    </section>
    <section id="swimwear">

    </section>
    <section id="categories">
        <article>
            <img src="" alt="">
            <a href="#">BERMUDAS</a>
        </article>
        <article>
            <img src="" alt="">
            <a href="#">BUZOS Y SWEATERS</a>
        </article>
        <article>
            <img src="" alt="">
            <a href="#">REMERAS</a>
        </article>
        <article>
            <img src="" alt="">
            <a href="#">SHORTS DE BAÑO</a>
        </article>
    </section>
    <section id="icons">

    </section>
    <footer>
        <section>
            <h5>AYUDA</h5>
            <ul>
                <li><a href="#">Política de envíos</a></li>   
                <li><a href="#">Cambios y devoluciones</a></li>   
                <li><a href="#">FAQ</a></li>   
            </ul>
        </section>
        <section>
            <h5>SERVICIO AL CLIENTE</h5>
            <ul>
                <li><a href="#">Contacto</a></li>   
                <li><a href="#">Estado de mi pedido</a></li>   
                <li><a href="#">Botón de arrepentimiento</a></li>   
            </ul>
        </section>
        <section>
            <h5>MI CUENTA</h5>
            <ul>
                <li><a href="#">Registrarme</a></li>   
                <li><a href="#">Información del cliente</a></li>   
            </ul>
        </section>
        <section>
            <h5>FOLLOW US</h5>
            <ul>
                <li><a href="#"><i class="instagram"></i></a></li>  
                <li><a href="#"><i class="facebook"></i></a></li>   
            </ul>
        </section>
    </footer>
</body>
</html>