* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

/* FONTS */
body {
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  color: #000000;
  font-weight: 400;
}

section#categories a {
  color: #3e4749;
}
section#categories,
footer a {
  font-family: "Montserrat", sans-serif;
}

body a {
  text-decoration: none;
  color: #000000;
}

body li {
  list-style: none;
}

header {
  min-height: 10vh;
  display: flex;
  padding: 1rem 3rem;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 3;
  background-color: #ffffff;
}

.left-nav {
  width: 70%;
}
.right-nav {
  width: 30%;
}
header nav ul {
  display: flex;
}
.right-nav ul {
  justify-content: flex-end;
}
.left-nav ul {
  justify-content: flex-start;
  padding-left: 1rem;
}
.left-nav li {
  margin: 0 3rem;
}
.right-nav li {
  margin: 0 2.5rem;
}

.right-nav img {
  width: 2.6rem;
}

#main {
  min-height: 90vh;
  /* background-image: url("../img/home/main-background.jpg"); --> this is for bcg image option
  background-size: cover;
  background-position: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-text {
  width: 100%;
  position: absolute;
  right: 0;
  text-align: center;
}
.main-sub {
  color: #f7f7f7;
  letter-spacing: 0.16em;
}
.main-title {
  color: #f7f7f7;
  font-size: 8.2rem;
  font-weight: 700;
  margin: 16px 0px 40px;
}

.btn-home {
  padding: 1rem 3rem;
  color: #f7f7f7;
  border: 1px solid #f7f7f7;
  background: none;
  border-radius: 20px;
  /* margin-bottom: 10rem; */
}

.main-video {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

#shirts,
#swimwear {
  min-height: 100vh;
  display: flex;
}

div.left-shirts {
  min-height: 100vh;
  width: 50%;
  background-image: url("../img/home/shirts-bg-2.jpg");
  background-size: cover;
  background-position: center;
}

div.right-shirts {
  min-height: 100vh;
  width: 50%;
  background-image: url("../img/home/shirts-bg-1.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.categorias-title {
  color: #000000;
  font-size: 8.2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.btn-categoria {
  padding: 1rem 3rem;
  color: #000000;
  border: 1px solid #000000;
  background: none;
  border-radius: 20px;
  margin-bottom: 13rem;
}

#swimwear {
  background-image: url("../img/home/swimwear-background-edit.jpeg");
  background-size: cover;
  background-position: center;
}

.swimwear-title-btn {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

/* CATEGORIES */

#categories {
  min-height: 100vh;
}
.categories-wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.categories-card {
  /* flex: 1 1 25rem; */
  /* background: rosybrown; */
  height: 350px;
  width: 250px;
  margin: 1rem;
}
.categories-img {
  width: 100%;
  height: 90%;
}
.categories-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.categories-title {
  width: 100%;
  height: 10%;
  text-align: center;
  padding: 1.5rem;
}

/* SERVICES */
#services {
  height: 80vh;
}
.services-wrapper {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 5rem;
  /* background: rosybrown; */
}
.services-card {
  height: 210px;
  width: 200px;
  margin: 1rem;
  /* background: seagreen; */
}
.services-img {
  width: 100%;
  height: 60%;
  /* background: wheat; */
  display: flex;
  align-items: center;
}
.services-img img {
  width: 100%;
  height: 70%;
  object-fit: scale-down;
}
.services-description {
  width: 100%;
  height: 50%;
  text-align: center;
  padding: 2rem 0rem;
  /* background: steelblue; */
}
.services-description h3 {
  font-size: 1.4rem;
  font-weight: 400;
}
.services-description p {
  font-size: 1.2rem;
  padding-top: 1rem;
}

/* FOOTER */

footer {
  background: #f0f0f0;
  min-height: 20vh;
}
.footer-wrapper {
  /* background-color: aquamarine; */
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-wrapper section {
  /* background-color: brown; */
  margin: 3rem 0rem;
  flex: 1 1 20rem;
}
footer h5 {
  padding-bottom: 2rem;
}
.footer-wrapper li {
  line-height: 1.7;
}
.social-media ul {
  display: flex;
}
.social-media li {
  margin-right: 1.5rem;
}
.footer-wrapper img {
  width: 2.5rem;
}
