* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

/* FONTS */
body {
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  color: #000000;
  font-weight: 400;
}

section#categories a {
  color: #3e4749;
}
section#categories,
footer a {
  font-family: "Montserrat", sans-serif;
}

body a {
  text-decoration: none;
  color: #000000;
}

body li {
  list-style: none;
}

/* NAVBAR */

header {
  min-height: 10vh;
  display: flex;
  padding: 1rem 3rem;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 3;
  background-color: #ffffff;
}

header nav ul {
  display: flex;
}
.right-nav ul {
  justify-content: flex-end;
}
.left-nav ul {
  justify-content: space-around;
  padding-left: 0;
}
.right-nav li {
  margin: 0 1rem;
}

.right-nav img {
  width: 2.4rem;
}

/* HAMBURGER MENU */
.mobile-hidden {
  display: none;
}
.burger {
  display: block;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 2px;
  background-color: #000000;
  font-weight: 400;
  margin: 5px;
  transition: all 0.3s ease;
}
.burger-nav {
  /* position: absolute; */
  position: fixed;
  z-index: 3;
  left: 0px;
  height: 90vh;
  top: 10vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: space-around;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in;
}
.burger-nav li {
  opacity: 0;
}
header {
  justify-content: space-between;
}

.burger-nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(45deg) translate(5px, 5px);
}
.toggle .line2 {
  /* transform: translateX(-20px); */
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* SEARCH BAR */
.search-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10vh;
  z-index: 3;
  background-color: #ffffff;
  padding: 10px;
}
.search-bar {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.search-box {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.55);
  border-radius: 5px;
}
#input-search {
  flex-grow: 1;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 1.5rem;
}
.search-bar button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.search-bar img {
  width: 2rem;
}
/* MAIN */

#main {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-image: url("../img/home/main-background.jpg"); --> this is for bcg image option
  background-size: cover;
  background-position: center; */
}
.main-text {
  width: 100%;
  position: absolute;
  right: 0;
  text-align: center;
}
.main-sub {
  color: #f7f7f7;
  letter-spacing: 0.8rem;
}
.main-title {
  color: #f7f7f7;
  font-size: 8.2rem;
  font-weight: 700;
  margin: 16px 0px 40px;
}

.btn-home {
  padding: 1rem 3rem;
  color: #f7f7f7;
  border: 1px solid #f7f7f7;
  background: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* margin-bottom: 10rem; */
}
.btn-home:hover {
  background: #f7f7f7;
  color: #1f1f1f;
}

.main-video {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

/* SHIRTS SWIMWEAR CATEGORIES GLOBAL */

#shirts,
#swimwear {
  min-height: 100vh;
  display: flex;
}

div.left-shirts {
  min-height: 100vh;
  width: 50%;
  background-image: url("../img/home/shirts-bg-2.jpg");
  background-size: cover;
  background-position: center;
}

div.right-shirts {
  min-height: 100vh;
  width: 50%;
  background-image: url("../img/home/shirts-bg-1.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.categorias-title {
  color: #000000;
  font-size: 8.2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.btn-categoria {
  padding: 1rem 3rem;
  color: #000000;
  border: 1px solid #000000;
  background: none;
  border-radius: 20px;
  margin-bottom: 13rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.btn-categoria:hover {
  background-color: #000000;
  color: #f7f7f7;
}

#swimwear {
  background-image: url("../img/home/swimwear-background-edit.jpeg");
  background-size: cover;
  background-position: center;
}

.swimwear-title-btn {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

/* CATEGORIES */

#categories {
  min-height: 100vh;
  display: flex;
  align-items: center;
  /* background-color: burlywood; */
}
.categories-wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10vh;
  /* background-color: aqua; */
}
.categories-card {
  margin: 2rem 0;
}
.categories-img {
  width: 100%;
  height: 90%;
}
.categories-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.categories-title {
  width: 100%;
  height: 10%;
  text-align: center;
  padding: 1.5rem 0rem;
}
.categories-title h3 {
  font-size: 1.6rem;
}

/* SERVICES */
#services {
  min-height: 80vh;
}
.services-wrapper {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 80vh;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10vh;
  /* background: rosybrown; */
}
.services-card {
  /* height: 210px;
  width: 200px; */
  height: 179px;
  width: 170px;
  margin: 2rem 3.6rem;
  /* background: seagreen; */
}
.services-img {
  width: 100%;
  height: 50%;
  /* background: wheat; */
  display: flex;
  align-items: center;
  /* object-fit: contain; */
}
.services-img img {
  width: 100%;
  height: 70%;
  object-fit: scale-down;
}
.services-description {
  width: 100%;
  height: 50%;
  text-align: center;
  padding: 2rem 0rem;
  /* background: steelblue; */
}
.services-description h3 {
  font-size: 1.4rem;
  font-weight: 400;
}
.services-description p {
  font-size: 1.2rem;
  padding-top: 1rem;
}

/* FOOTER */

footer {
  background: #f0f0f0;
  min-height: 20vh;
}
.footer-wrapper {
  /* background-color: aquamarine; */
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-wrapper section {
  /* background-color: brown; */
  margin: 3rem 0rem;
  flex: 1 1 20rem;
}
footer h5 {
  padding-bottom: 2rem;
}
.footer-wrapper li {
  line-height: 1.7;
}
.social-media ul {
  display: flex;
}
.social-media li {
  margin-right: 1.5rem;
}
.footer-wrapper img {
  width: 2.5rem;
}

/* SCROLL BEHAVIOUR SMOOTH AND SNAP */
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
.scrollbar-snap {
  scroll-snap-align: end;
}

/* MEDIA QUERIES */

@media (min-width: 481px) {
  .categories-title h3 {
    font-size: 1.4rem;
  }
  .categories-wrapper {
    margin-top: 1rem;
  }
  .categories-card {
    margin: 0;
    width: 50%;
    padding: 1rem 1rem;
  }
  .services-card {
    height: 189px;
    width: 180px;
    margin: 0rem 3.6rem;
  }
  .services-wrapper {
    margin-top: 0;
  }
}

@media (min-width: 769px) {
  /* html {
    overflow-x: unset;
  } */
  .left-nav {
    width: 70%;
  }
  .right-nav {
    width: 30%;
  }
  .burger {
    display: none;
  }
  .burger-nav {
    display: none;
  }
  .mobile-hidden {
    display: block;
  }
  .burger {
    display: none;
  }
  .categories-wrapper {
    margin-top: 0;
    min-height: 100vh;
  }
  .categories-card {
    width: 22.5%;
    padding: 0;
  }
  /* .services-wrapper {
    margin-top: 0;
  } */
  .services-card {
    height: 189px;
    width: 180px;
    /* width: 22.5%;
    max-width: 200px; */
    margin: 0;
    /* background: seagreen; */
  }
  .services-description h3 {
    font-size: 1.3rem;
    font-weight: 400;
  }
  .form-search {
    max-width: 47.8rem;
  }
}

@media (min-width: 1024px) {
  .right-nav li {
    margin: 0 1.5rem;
  }
  .left-nav li {
    margin: 0 4rem;
  }
  .left-nav ul {
    justify-content: flex-start;
    padding-left: 1.5rem;
  }
  .categories-title h3 {
    font-size: 1.6rem;
  }
  .services-card {
    height: 210px;
    width: 200px;
    /* width: 22.5%;
    max-width: 200px; */
    /* margin: 1rem; */
    /* background: seagreen; */
  }
}
